{% load filter %}

#contents{
  margin:0;
  padding:0;
  width:35%;
  background-color:#373937;
  display:inline-block;
  text-align: center;
}

<div class="contents">
    <!-- {{ current_path }}  -->
    <div class = dirname>
    {{ form.dir_name }}<br>
    </div>
    <!-- <button type="submit" name="submit-kind" value="make_dir" class="btn btn-info btn-sm">
      フォルダの作成
    </button> -->
    <button type="submit" name="submit-kind" value="virtualenv" id="btnvenv">
      CREATE WORLD
    </button>
    <!-- {% if path_list.venv %}
        <a class="btn btn-info btn-sm" href="?{% url_replace_with_nodelete request 'venv_path' path_list.venv %}">VenvをActivate</a>
    {% endif %} -->
</div>
